.dropbtn {
  color: black;
  font-size: 20px;
  border: none;
  background: white;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  @media (min-width: 768px) {
    display: flex;
  }
}
@include respond(small-mobile) {
  .d-sm-none {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .dropbtn {
    svg {
      margin-bottom: 8px;
    }
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover .dropdown-content {
    display: block;
  }
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  border: 1px solid rgb(239, 239, 239);
  background: rgb(255, 255, 255);
  width: auto;
  min-width: 196px;
  z-index: 15;
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
  position: absolute;
  top: 35px;
  left: calc(50%);
  transform: translateX(-50%);
  &::before {
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    border-image: initial;
    margin-left: -9px;
    bottom: 100%;
    left: 50%;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
  }
  a {
    color: black;
    padding: 12px 16px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-transform: initial !important;
    &:hover {
      background-color: rgb(245, 213, 70);
    }
  }

  .content-btn {
    color: rgb(74, 74, 74);
    background: rgb(253, 216, 53);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0px;
    white-space: nowrap;
    padding: 0px;
    font-size: 14px;
    border-radius: 4px;
    user-select: none;
    margin: 5px 12px;
    width: 236px;
    height: 41px;
    line-height: 41px;
    outline: none;
    text-shadow: rgb(171 171 171) 0px 0px 1px;
    svg {
      font-size: 17px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}

.content-btn.btn-facebook,
.content-btn.btn-google {
  color: rgb(255, 255, 255);
}

.auth-btn {
  font-size: 12px !important;
  &.btn-logout {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: initial !important;
    border: none;
    background: transparent;
    width: 100%;
    text-align: left;
  }
  &:hover {
    background: #e7e5e5 !important;
  }
}
.dropbtn-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  text-transform: capitalize;
  font-size: 11px;
  line-height: 16px;
}
.fz-13 {
  font-size: 13px;
  font-weight: 400;
}
.btnGoogle {
  box-shadow: none !important;
}
