/*=============================================
=            empty area            =
=============================================*/

.item-empty-area {
  &__icon {
    i,
    svg {
      font-size: 140px;
      line-height: 1;

      color: $black--two;

      @include respond(large-mobile) {
        font-size: 100px;
      }
    }
  }

  &__text {
    font-size: 20px;
  }
}
.VLxTK {
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 16px 0px;
  font-size: 15px;
  margin-bottom: 24px;
  & > div {
    background-color: rgb(255, 255, 251);
    border: 1px solid rgb(253, 216, 53);
    color: rgb(223, 189, 21);
    padding: 16px 24px;
    display: flex;
  }
}
/*=====  End of empty area  ======*/
