$Loader-color: #ed5a36;
$Loader-size: 14.6rem;
$Loader-offset: 1.7rem;
$Loader-timing: ease-in-out;

.Loader {
    width: 100%;
    height: 50%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $Loader-size;
    margin-top: $Loader-size/2;
    margin-bottom: $Loader-size/2;
    &:before,
    &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        animation-duration: 1.8s;
        animation-iteration-count: infinite;
        animation-timing-function: $Loader-timing;
        filter: drop-shadow(0 0 $Loader-offset/2.25 rgba($Loader-color, 0.75));
    }
    &:before {
        width: 100%;
        padding-bottom: 100%;
        box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
        animation-name: pulsA;
    }
    &:after {
        width: calc(100% - #{$Loader-offset}* 2);
        padding-bottom: calc(100% - #{$Loader-offset}* 2);
        box-shadow: 0 0 0 0 $Loader-color;
        animation-name: pulsB;
    }
}

@keyframes pulsA {
    0% {
        box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
        opacity: 1;
    }
    50%,
    100% {
        box-shadow: inset 0 0 0 0 $Loader-color;
        opacity: 0;
    }
}

@keyframes pulsB {
    0%,
    50% {
        box-shadow: 0 0 0 0 $Loader-color;
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 0 $Loader-offset $Loader-color;
        opacity: 1;
    }
}

.loading {
    &.br {
        border-radius: 8px;
    }
    .w80 {
        width: 80%;
    }
    &.card {
        // border: 2px solid #fff;
        box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
        padding: 30px 40px;
        width: 100%;
        margin: 50px auto;
    }
    .wrapper {
        width: 0px;
        animation: fullView 0.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .profilePic {
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }
    .comment {
        height: 10px;
        background: #777;
        margin-top: 20px;
    }

    @keyframes fullView {
        100% {
            width: 100%;
        }
    }

    .animate {
        animation: shimmer 2s infinite linear;
        background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
        background-size: 1000px 100%;
    }

    @keyframes shimmer {
        0% {
            background-position: -1000px 0;
        }
        100% {
            background-position: 1000px 0;
        }
    }
}
