/*=============================================
=            product description            =
=============================================*/

.product-content {
  &__title {
    font-size: 24px;
    line-height: 1.3;
  }
  &__brand {
    font-size: 15px;
    span {
      color: rgb(13, 92, 182);
    }
  }

  &__price-rating-wrapper {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 14px;

      display: inline-block;

      margin-left: 5px;

      vertical-align: middle;

      color: $black--three;
    }
  }

  &__price {
    .price {
      font-size: 26px;
      font-weight: 600;

      color: $theme-color--default;
    }
    del {
      font-size: 14px;

      margin-right: 10px;
      margin-left: 10px;

      color: $black--three;
    }
    .on-sale {
      font-size: 14px;

      color: $green--one;
    }
  }

  &__rating {
    svg {
      color: $yellow--one;
    }
  }

  &__sort-info {
    ul {
      li {
        font-size: 14px;

        margin-bottom: 10px;

        color: $black--two;

        &:last-child {
          margin-bottom: 0;
        }
        svg {
          margin-right: 5px;

          color: $theme-color--default;
        }
      }
    }
  }

  &__size {
    display: flex;
    align-items: center;
    &__title {
      font-size: 16px;

      flex-basis: 50px;

      margin-right: 20px;

      color: $black--three;
    }
    &__content {
      flex-basis: calc(100% - 70px);
      label {
        font-size: 14px;
        line-height: 28px;

        display: inline-block;

        width: 32px;
        height: 32px;
        margin-right: 5px;
        margin-bottom: 3px;

        cursor: pointer;
        text-align: center;
        text-transform: uppercase;

        border: 2px solid $grey--two;
        &:hover {
          color: $black--two;
        }
      }
      input[type="radio"] {
        width: 0;

        opacity: 0;

        &:checked {
          & + label {
            color: $white;
            border-color: $theme-color--default;
            background-color: $theme-color--default;
          }
        }
      }
    }
  }

  &__color {
    display: flex;
    align-items: center;
    &__title {
      font-size: 16px;

      flex-basis: 50px;

      margin-right: 20px;

      color: $black--three;
    }
    &__content {
      flex-basis: calc(100% - 70px);
      input[type="radio"] {
        width: 0;

        opacity: 0;
        &:checked {
          & + label {
            &:before {
              visibility: visible;

              opacity: 1;
            }
          }
        }
      }

      label {
        position: relative;

        width: 15px;
        height: 15px;
        margin-right: 15px;
        margin-bottom: 0;

        cursor: pointer;

        border-radius: 50%;
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          visibility: hidden;

          margin: -3px;

          content: "";

          opacity: 0;
          border: 2px solid $white;
          border-radius: 100%;
          box-shadow: 0 0 5px rgba($black, 0.5);
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__button-wrapper {
    @include respond(extra-small-mobile) {
      display: block !important;
    }
    .btn-addtocart {
      @include respond(extra-small-mobile) {
        margin-left: 0;
      }
    }

    &--style-two {
      .product-content__quantity {
        margin-bottom: 15px;
      }
    }
  }

  &__quantity {
    display: flex;
    align-items: center;

    @include respond(extra-small-mobile) {
      margin-bottom: 15px;
    }

    .cart-plus-minus {
      button {
        font-size: 20px;
        line-height: 36px;

        display: block;
        float: left;

        width: 34px;
        height: 34px;
        margin: 4px;
        padding: 0;

        cursor: pointer;
        text-align: center;

        border: 0;
        border-radius: 50px;
        background-color: $grey;
      }
      input {
        float: left;

        width: 55px;
        height: 36px;
        margin: 3px;
        padding: 0;

        text-align: center;

        border: 1px solid $grey--two;
        background-color: transparent;
      }
    }
  }

  &__compare,
  &__wishlist,
  &__cart,
  &__ofs {
    .btn-addtocart {
      &:focus {
        color: $white;
      }
    }
    &:disabled {
      &:hover {
        cursor: not-allowed;

        color: $white;
        background-color: $black--two;
      }
    }
  }

  &__compare,
  &__wishlist {
    font-size: 20px;

    display: inline-block;

    margin-left: 10px;

    text-align: center;

    border: none;
    background: none;

    &:hover,
    &.active {
      i {
        color: $theme-color--default;
      }
    }
  }
  &__product-meta {
    li {
      margin-top: 10px;

      color: $black--three;

      span {
        color: $black--two;
      }
      a {
        margin-left: 5px;
      }
    }
  }
  &__product-share {
    span {
      color: $black--three;
    }
    ul {
      display: inline-block;

      margin-left: 15px;
      li {
        a {
          color: $black--three;
          &:hover {
            color: $theme-color--default;
          }
        }
      }
    }
  }
}

.product-description-tab {
  border-bottom: 5px solid $grey--two;
  &__navigation {
    border-bottom: 1px solid $grey--four;
    .nav-item {
      .nav-link {
        font-weight: 500;

        border-bottom: 2px solid transparent;
        border-radius: 0;
        &.active {
          color: $theme-color--default;
          border-bottom: 2px solid $theme-color--default;
          background-color: transparent;
        }
      }
    }
  }
  &__details {
    font-size: 16px;
    line-height: 1.5;

    color: $black--three;
  }

  &__additional-info {
    table {
      tbody {
        td {
          &:first-child {
            width: 25%;
          }
        }
      }
    }
  }

  &__review {
    .comment-list {
      margin-bottom: 20px;
    }
    .review-comment__images {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -6px;
    }
    .review-comment__image {
      width: 152px;
      height: 152px;
      border-radius: 4px;
      background-size: cover;
      background-position: center center;
      margin: 0px 6px 16px;
      cursor: pointer;
    }
    .comments {
      li {
        margin-bottom: 20px;
        padding-bottom: 20px;

        border-bottom: 1px solid $grey--two;
      }
    }
    .comment-img {
      float: left;
      img {
        max-width: 100px;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
      }
    }
    .comment-block {
      padding-left: 120px;
      .rating-wrap {
        float: right;
      }
    }
    .customer-meta {
      margin-bottom: 5px;
    }

    .review-author {
      font-weight: 500;

      display: block;

      color: $black--two;
    }
    .comment-date {
      font-style: italic;
    }

    .rating {
      svg {
        color: $yellow--one;
      }
    }

    .review-form {
      .form-control {
        height: 50px;
      }

      textarea {
        &.form-control {
          height: auto;
        }
      }
    }
  }
}

@include respond(large-mobile) {
  .rdrMonths {
    display: block !important;
  }
  .rdrCalendarWrapper,
  .rdrMonth {
    width: 100% !important;
  }
}
.rdrMonthName {
  display: none !important;
}
.rdrCalendarWrapper {
  width: 100%;
}
.yellow {
  color: $yellow--one;
  margin-left: 3px;
  margin-bottom: 3px;
}

.product-shop {
  border-radius: 4px;
  box-shadow: rgb(242 242 242) 1px 1px 0px 0px inset, rgb(242 242 242) -1px -1px 0px 0px inset;
  .seller-info {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    min-height: 60px;
  }
  .seller-detail {
    display: flex;
    min-height: 39px;
    .item {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      -webkit-box-align: center;
      align-items: center;
      .title {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
      }
      .sub-title {
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        color: rgb(120, 120, 120);
      }
    }
    .border-left {
      align-self: center;
      width: 1px;
      height: 16px;
      background-color: rgb(242, 242, 242);
    }
  }
  .seller-action {
    display: flex;
    padding: 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    .action {
      display: flex;
      padding: 6px 9px;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid $red;
      cursor: pointer;
      span {
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        color: $red;
        margin-left: 4px;
      }
      svg {
        color: $red;
        font-size: 25px;
      }
    }
  }
  .logo {
    width: 44px;
  }
  .overview {
    display: flex;
    align-items: flex-start;
    &-right {
      margin: 0px 0px 0px 12px;
      align-self: center;
      .seller-name {
        margin: 0px 0px 2px;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: rgb(36, 36, 36);
        span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
    }
  }
}

.epfiby {
  margin-bottom: 34px;
  margin-top: 34px;
}
.store-products-categories {
  .fPxkFE {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .drQiqr {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
  .byEdcD {
    height: 184px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 20px;
    padding: 12px 16px 16px;
    overflow: hidden;
  }
  .efsPJP {
    height: 184px;
    width: 50%;
    cursor: pointer;
    // margin-right: 0px;
    margin-right: 20px;
    padding: 12px 16px 16px;
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
  }
  .jwRAbm {
    font-size: 17px;
    font-weight: 500;
    color: rgb(36, 36, 36);
    margin-bottom: 16px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bHyxSX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
  .iYuSlF {
    height: 184px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 0px;
    padding: 12px 16px 16px;
    overflow: hidden;
  }
  .hkPPDv {
    width: 112px;
    height: 112px;
    object-fit: contain;
  }
}
.store-products-trend {
  .fPxkFE {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .ilyIrF {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }
  .feWWnT {
    font-size: 15px;
    line-height: 24px;
    color: $red;
    text-decoration: none;
  }
  .lgAVmE {
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(36, 36, 36);
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
  }
  .gAJuvp {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    position: relative;
    padding: 12px 0px;
    height: 100%;
  }
  .BMDBU {
    position: absolute;
    top: 12px;
    left: 16px;
    svg {
      font-size: 40px;
      color: $red;
    }
  }
  .CYqzz {
    text-align: center;
    margin-bottom: 12px;
  }
  .fpodVc {
    max-width: 240px;
    min-height: 240px;
    max-height: 240px;
  }
  .gciGrt {
    padding: 0px 16px;
  }
  .jVWQUC {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    span {
      font-size: 15px;
      font-weight: 400;
      margin: 0px 0px 4px;
      line-height: 24px;
    }
  }
  .ctYvBX {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: $red;
  }
  .eDrkRY {
    position: absolute;
    inset: 0px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 28px;
    padding-top: 2px;
    text-align: center;
  }
}
.shop-info-content {
  @media (min-width: 992px) {
    .shop-products .col-lg-3 {
      max-width: 20% !important;
    }
  }
}

.list-item-code {
  .item {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: calc((100% / 3) - 10px);
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    &:hover {
      border: 1px solid $red;
    }
    @media (max-width: 768px) {
      width: 47%;
    }
    display: inline-block;
    h6 {
      color: #000;
      width: 100%;
    }
    strong {
      font-size: 16px;
      display: block;
      color: $red;
      width: 100%;
    }
  }

  .active {
    border: 1px solid $red;
  }
  .renting {
    background-color: rgb(239, 239, 239);
  }
}
.customer-reviews__top {
  display: flex;
  padding: 0px 48px;
  & > .review-rating {
    flex-basis: 335px;
    flex-shrink: 0;
    margin: 0px 0px 32px;
  }
}
.pFROu {
  .review-rating__summary {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .review-rating__point {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0px 16px 0px 0px;
  }
  .review-rating__total {
    font-size: 14px;
    line-height: 20px;
    color: rgb(120, 120, 120);
  }
  .review-rating__detail {
    margin: 20px 0px 0px;
  }
  .review-rating__level {
    display: flex;
    margin: 4px 0px;
    -webkit-box-align: center;
    align-items: center;
  }
  .review-rating__number {
    font-size: 14px;
    line-height: 16px;
    color: rgb(120, 120, 120);
  }
}
.dYhelp {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.KCfxa {
  width: 166px;
  height: 6px;
  background-color: rgb(238, 238, 238);
  position: relative;
  z-index: 1;
  margin: 0px 6px;
  border-radius: 99em;
  & > div {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(120, 120, 120);
    border-radius: 99em;
  }
}
.kfqcjJ {
  .review-images__heading {
    margin: 0px 0px 8px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
  }
  .review-images__inner {
    display: flex;
  }
  .review-images__item {
    width: 120px;
    height: 120px;
    margin: 0px 16px 0px 0px;
    cursor: pointer;
  }
  .review-images__img {
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    background-position: center center;
  }
}
.fZjOyV {
  display: flex;
  padding: 48px 0px 32px;
  .filter-review__label {
    flex-shrink: 0;
    font-size: 15px;
    line-height: 24px;
    margin: 0px 12px 0px 0px;
    padding: 7px 0px 0px;
  }
  .filter-review__inner {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .filter-review__item {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 12px;
    border-radius: 20px;
    color: rgb(120, 120, 120);
    background: rgb(238, 238, 238);
    margin: 0px 12px 12px 0px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
  }
  .filter-review__item--active {
    background: rgb(230, 238, 247);
    .filter-review__check {
      display: block;
    }
  }
  .filter-review__check {
    display: none;
    width: 12px;
    height: 6px;
    border-left: 1px solid rgb(13, 92, 182);
    border-bottom: 1px solid rgb(13, 92, 182);
    transform: rotate(-45deg);
    margin: -3px 4px 0px 0px;
  }
}
.customer-reviews__empty {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  & > span {
    font-size: 15 px;
    line-height: 20px;
    margin: 15px 0px 0px;
  }
}

/*=====  End of product description  ======*/
