.edAZXd {
    flex: 1 1 0%;
}
.order {
    background-color: rgb(239, 239, 239);
}
.bqOhOA {
    font-size: 13px;
    color: rgb(36, 36, 36);
    line-height: 1.5;
    .heading {
        font-size: 19px;
        font-weight: 300;
        margin: 20px 0px 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        .split {
            margin: 0px 5px;
        }
        .status {
            font-weight: bolder;
        }
    }
    .created-date {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .view-invoices {
        color: rgb(27, 168, 255);
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .view-list-order {
        margin-bottom: 30px;
        margin-top: 20px;
        display: inline-block;
        border: 1px solid transparent;
        margin-right: 15px;
        cursor: pointer;
        color: #007bff;
    }
    .btn-cancel-order{
        float: right;
        border-inline: none;
        border-bottom: none;
        background: #333 !important;
        border-color: #333 !important;

    }
    .view-tracking-detail, .btn-cancel-order {
        margin-bottom: 30px;
        background: $red;
        border-color: $red;
        color: white;
        margin-top: 20px;
        padding: 9px 12px;
        width: 225px;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        line-height: 1.42857;
        border-radius: 4px;
        font-weight: bolder;
    }
}
.view-tracking-detail,
.btn-cancel-order,
.view-detail {
    margin-bottom: 30px;
    background: $red;
    border-color: $red;
    color: white;
    margin-top: 20px;
    padding: 9px 12px;
    width: 225px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    font-weight: bolder;
    &:hover {
        color: white;
    }
}
.jkHrCc {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.65);
    .title {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0px 0px 15px;
        color: rgb(36, 36, 36);
    }
    .content {
        display: flex;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        height: 100%;
        .notifications {
            display: flex;
            flex-direction: column;
        }
        .notifications__item {
            display: flex;
            .date {
                min-width: 160px;
            }
            .comment {
                text-align: left;
            }
        }
    }
}
.kHWfJY {
    display: flex;
    margin: 10px 0px 20px;
    & > div:first-child {
        margin-left: 0px;
    }
    & > div {
        width: 33.3333%;
        margin: 0px 5px;
    }
    p {
        margin: 5px 0px 0px;
    }
    & > div:last-child {
        margin-right: 0px;
    }
}
.ipnhKS {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.65);
    .title {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0px 0px 15px;
        color: rgb(36, 36, 36);
    }
    .content {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        height: 100%;
    }
    .name {
        text-transform: uppercase;
    }
    .address span,
    .phone span {
        color: rgb(74, 74, 74);
        font-weight: 300;
    }
}
.cbhdrn {
    width: 100%;
    color: rgb(66, 66, 66);
    display: table;
    font-size: 13px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0px;
    line-height: 1.5;
    word-break: break-word;
    thead {
        display: table-header-group;
    }
    tr {
        display: table-row;
        padding: 10px;
        th:first-child {
            border-left: none;
        }
        th {
            display: table-cell;
            padding: 20px 15px;
            border-top: none;
            min-width: 100px;
            position: relative;
            background: 0px 0px;
            color: rgb(120, 120, 120);
            font-size: 15px;
            font-weight: 400;
            border-bottom: 1px solid rgb(244, 244, 244);
            text-align: left;
        }
        th:last-child {
            text-align: right;
            min-width: 160px;
        }
    }
    tbody {
        display: table-row-group;
        tr:first-child {
            border-top: none;
        }
        tr {
            td:first-child {
                border-top: none;
                border-left: none;
                width: 35%;
            }
            td.price {
                white-space: nowrap;
            }
            td {
                border: none;
                position: relative;
                display: table-cell;
                padding: 20px 15px;
                color: rgb(36, 36, 36);
                vertical-align: top;
                min-width: 100px;
                .product-item {
                    display: flex;
                    img {
                        width: 60px;
                        height: 60px;
                        margin-right: 15px;
                    }
                    .product-info {
                        .product-name {
                            font-size: 14px;
                            color: rgb(36, 36, 36);
                        }
                        .product-seller {
                            font-size: 11px;
                        }
                        .product-sku {
                            margin: 12px 0px;
                        }
                        .product-review {
                            span,
                            a {
                                display: inline-block;
                                margin-right: 10px;
                                background: rgb(255, 255, 255);
                                border: 1px solid rgb(24, 158, 255);
                                font-size: 12px;
                                color: rgb(24, 158, 255);
                                padding: 5px 15px;
                                border-radius: 4px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            td:last-child {
                text-align: right;
                min-width: 160px;
            }
        }
    }
    tfoot {
        display: table-row-group;

        tr:first-child td {
            padding-top: 30px;
        }
        tr:last-child td {
            padding-bottom: 30px;
        }
        tr {
            border-top: none;
            td:first-child {
                border-top: none;
            }
            td {
                text-align: right;
                display: table-cell;
                padding: 5px 20px;
                max-width: 550px;
                min-width: 125px;
                color: rgb(36, 36, 36);
                span {
                    color: rgb(120, 120, 120);
                    font-size: 14px;
                }
                .sum {
                    color: $red;
                    font-size: 18px;
                }
            }
        }
    }
}

.bOXEez {
    .order-heading {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 35px;
        h3 {
            font-size: 19px;
            font-weight: 300;
            color: rgb(36, 36, 36);
            margin: 0px;
            align-self: flex-end;
        }
        // .view-detail {
        //     padding: 10px 20px;
        //     font-size: 14px;
        //     font-weight: bold;
        //     color: rgb(74, 74, 74);
        //     border-radius: 4px;
        //     background-color: rgb(253, 216, 53);
        //     display: flex;
        //     -webkit-box-pack: center;
        //     justify-content: center;
        //     -webkit-box-align: center;
        //     align-items: center;
        //     cursor: pointer;
        // }
    }
    .title {
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 13px;
        text-transform: uppercase;
        color: rgb(36, 36, 36);
    }
    .cVeNsR {
        .status-block {
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            padding: 20px 20px 80px;
            .status-text {
                font-size: 14px;
                color: rgb(32, 32, 32);
                margin-top: 10px;
                display: block;
            }
            .order-progress-bar {
                margin: 40px 50px 20px;
                height: 10px;
                border-radius: 10px;
                display: flex;
            }
        }
    }
}
.hMlakU {
    width: calc(25%);
    background-color: rgb(89, 162, 56);
    position: relative;
    &::before {
        position: absolute;
        height: 16px;
        width: 16px;
        left: -8px;
        top: -3px;
        line-height: 45px;
        border-radius: 50%;
        content: "";
        background-color: rgb(89, 162, 56);
    }
    span {
        position: absolute;
        left: 0px;
        top: 31px;
        max-width: calc(100% - 30px);
        min-width: 100px;
        text-align: center;
        transform: translateX(-50%);
        font-size: 14px;
        color: rgb(32, 32, 32);
        opacity: 0.5;
        line-height: 1.4;
    }
}
.hkLMUa {
    width: calc(25%);
    background-color: #efefef;
    position: relative;
    &::before {
        position: absolute;
        height: 16px;
        width: 16px;
        left: -8px;
        top: -3px;
        line-height: 45px;
        border-radius: 50%;
        content: "";
        background-color: #efefef;
    }
    span {
        position: absolute;
        left: 0px;
        top: 31px;
        max-width: calc(100% - 30px);
        min-width: 100px;
        text-align: center;
        transform: translateX(-50%);
        font-size: 14px;
        color: rgb(32, 32, 32);
        opacity: 0.5;
        line-height: 1.4;
    }
}

.cKEwuh {
    width: calc(25%);
    background-color: rgb(241, 241, 241);
    position: relative;
    &.cKEwuh::before {
        position: absolute;
        height: 20px;
        width: 20px;
        left: -10px;
        top: -5px;
        line-height: 45px;
        border-radius: 50%;
        content: "";
        background-color: rgb(255, 255, 255);
        border: 4px solid rgb(89, 162, 56);
    }
    &:last-child {
        width: 0px;
    }
    span {
        position: absolute;
        left: 0px;
        top: 31px;
        max-width: calc(100% - 30px);
        min-width: 100px;
        text-align: center;
        transform: translateX(-50%);
        font-size: 14px;
        color: rgb(32, 32, 32);
        opacity: 1;
        line-height: 1.4;
    }
}
.cKEwul {
    width: calc(25%);
    background-color: rgb(241, 241, 241);
    position: relative;
    &.cKEwul::before {
        position: absolute;
        height: 20px;
        width: 20px;
        left: -10px;
        top: -5px;
        line-height: 45px;
        border-radius: 50%;
        content: "";
        background-color: rgb(241, 241, 241);
        border: 4px solid rgb(241, 241, 241);
    }
    &:last-child {
        width: 0px;
    }
    span {
        position: absolute;
        left: 0px;
        top: 31px;
        max-width: calc(100% - 30px);
        min-width: 100px;
        text-align: center;
        transform: translateX(-50%);
        font-size: 14px;
        color: rgb(32, 32, 32);
        opacity: 0.5;
        line-height: 1.4;
    }
}
.cskwFI {
    margin-top: 20px;
    .detail {
        background: rgb(255, 255, 255);
        padding: 20px;
        .border {
            border-radius: 4px;
            border: 1px solid rgb(218, 218, 218);
        }
    }
}
.cGrxj {
    padding: 12px 15px;
    font-size: 13px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(241, 241, 241);
    font-weight: bolder;
}
.cBkDRy {
    padding: 15px;
    font-size: 13px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid rgb(218, 218, 218);
    font-weight: bolder;
    .left {
        margin-right: 20px;
    }
}
.dPnPGf {
    padding: 15px;
    font-size: 13px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid rgb(218, 218, 218);
    font-weight: normal;
    .left {
        margin-right: 20px;
    }
}
.jDvHok {
    padding: 15px;
    font-size: 13px;
    color: rgb(32, 32, 32);
    font-weight: normal;
    .left {
        margin-right: 20px;
    }
}
.LgwZV {
    margin-top: 20px;
    .items {
        display: flex;
        padding: 15px 20px;
        background: rgb(255, 255, 255);
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        .item {
            display: flex;
            font-weight: 300;
            flex: 0 1 49%;
            padding: 10px 0px;
            -webkit-box-align: center;
            align-items: center;
            .image {
                margin-right: 30px;
                width: 90px;
                height: 90px;
            }
            .info {
                .name {
                    font-size: 14px;
                    color: rgb(32, 32, 32);
                    text-decoration: none;
                    outline: none;
                    padding: 8px 0px;
                }
                .seller {
                    padding: 8px 0px;
                    font-size: 12px;
                    span {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
.modal-review {
    .modal-review-open {
        position: fixed;
        inset: 0px;
        background-color: rgba(36, 36, 36, 0.5);
        z-index: 9999;
        .modal-review-after-open {
            position: absolute;
            inset: 50% auto auto 50%;
            border: 0px;
            background: 0px center;
            overflow: auto;
            border-radius: 4px;
            outline: none;
            padding: 0px;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    }
    .eeVeyu {
        width: 605px;
        background-color: rgb(255, 255, 255);
        padding: 16px;
        border-radius: 4px;
        position: relative;
        z-index: 1;
        .write-review__close {
            width: 40px;
            height: 40px;
            font-size: 36px;
            position: absolute;
            right: 10px;
            top: 10px;
            text-align: center;
            line-height: 40px;
            color: rgb(224, 224, 224);
            cursor: pointer;
        }
        .write-review__product {
            display: flex;
            padding: 0px 40px 0px 0px;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px 0px 32px;
        }
        .write-review__product-img {
            width: 40px;
            margin: 0px 12px 0px 0px;
        }
        .write-review__product-wrap {
            display: flex;
            flex-direction: column;
            -webkit-box-pack: justify;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            padding: 0px 40px 0px 0px;
        }
        .write-review__product-seller {
            font-size: 12px;
            line-height: 16px;
            color: rgb(153, 153, 153);
        }
        .write-review__product-name {
            font-size: 14px;
            line-height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1 1 0%;
        }
        .write-review__heading {
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            text-align: center;
            margin: 0px 0px 12px;
        }
        .write-review__stars {
            text-align: center;
        }
        .write-review__star {
            margin: 0px 8px;
            cursor: pointer;
        }
        .write-review__input {
            border: 1px solid rgb(238, 238, 238);
            padding: 12px;
            border-radius: 4px;
            resize: none;
            width: 100%;
            outline: 0px;
            margin: 24px 0px 12px;
        }
        .write-review__buttons {
            flex: 1 1 0%;
            align-items: flex-end;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            padding: 0px 0px 16px;
            margin: 12px 0px 0px;
        }
        .write-review__file {
            position: absolute;
            height: 0px;
            width: 0px;
            visibility: hidden;
            opacity: 0;
            clip: rect(0px, 0px, 0px, 0px);
        }

        .write-review__button {
            width: 49%;
            height: 36px;
            border: 0px;
            background: 0px center;
            padding: 0px;
            line-height: 36px;
            cursor: pointer;
            border-radius: 4px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            outline: 0px;
        }
        .write-review__images {
            text-align: left;
            margin: 0px 0px 12px;
        }
        .write-review__image {
            display: inline-block;
            width: 48px;
            height: 48px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0px 12px 0px 0px;
            border: 1px solid rgb(224, 224, 224);
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
        }
        .write-review__image:hover {
            .write-review__image-close {
                display: block;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0px;
                background-color: rgba(36, 36, 36, 0.7);
            }
        }
        .write-review__image-close {
            width: 21px;
            height: 21px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            line-height: 21px;
            font-size: 18px;
            display: none;
            text-align: center;
        }
        .write-review__button--image {
            color: rgb(13, 92, 182);
            border: 1px solid rgb(13, 92, 182);
            img {
                width: 20px;
                height: 20px;
                margin: 0px 4px 0px 0px;
            }
        }
        .write-review__button--submit {
            background-color: $red;
            color: white;
        }
    }
}

.returned,
.late 
{
    color: #229a16;
    background-color: rgb(84, 214, 44, 0.16);
    // box-shadow: 0 0 4px 0 #229a16;
    font-weight: 500;
    border-radius: 10px;
}

.transporting,
.rented,
.waitingToConfirm {
    color: #b78103;
    background-color: rgb(255, 193, 7, 0.16);
    // box-shadow: 0 0 4px 0 #B78103;
    font-weight: 500;
    border-radius: 10px;
}

.cancel,
.notReturned {
    color: #b72136;
    background-color: rgb(255, 72, 66, 0.16);
    // box-shadow: 0 0 4px 0 #B72136;
    font-weight: 500;
    border-radius: 10px;
}

.filter-order {
    display: inline;
    float: right;
    button {
        background: none;
        border: none;
        position: relative;
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        border-bottom: 1px solid rgb(248, 248, 248);
    }
}

.fcbiuR {
    display: block;
    position: absolute;
    right: 0px;
    top: 40px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 10px 0px;
    border-radius: 4px;
    width: 175px;
    div {
        padding: 15px;
        font-size: 14px;
        color: rgb(36, 36, 36);
        cursor: pointer;
        &:hover{
            background-color: #f1f1f1;
        }
    }
}

.fUkGOD {
    display: none;
    position: absolute;
    right: 0px;
    top: 40px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 10px 0px;
    border-radius: 4px;
    width: 175px;
}