.payment {
    .xVMPB {
        width: 100%;
        padding: 15px 15px 0px 20px;
        .order-button p {
            text-align: left;
            margin: 10px 0px;
            color: rgb(80, 80, 80);
            font-size: 13px;
        }
    }
    .giRdMi {
        opacity: 1;
        .title {
            margin-top: 0px;
            margin-bottom: 10px;
            font-size: 18px;
            color: rgb(95, 95, 95);
            font-weight: 700;
        }
    }
    .frvXJv {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(221, 221, 221);
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 5%) 0px 1px 1px;
        padding: 16px 20px;
        margin-bottom: 20px;
        .sponsor-normal-order {
            display: flex;
            margin: 0px 0px 10px;
            border: 1px solid rgb(239, 239, 239);
            border-radius: 4px;
            padding: 17px;
            position: relative;
        }
        .item-left {
            padding-right: 15px;
        }
        .products {
            list-style: none;
            padding: 0px;
            margin: 0px;
            .product {
                margin-bottom: 12px;
            }
            .product__wrap {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
            }
            .product__img {
                display: inline-flex;
                width: 50px;
            }
            .product__inner {
                margin-bottom: 12px;
                padding-left: 20px;
                width: calc(100% - 50px);
            }
            .product__name {
                font-size: 14px;
                color: rgb(120, 120, 120);
                position: relative;
                font-weight: 300;
                width: 90%;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-bottom: 10px;
                overflow: hidden !important;
            }
            .product__action {
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin: 0px;
            }
            .includes-product {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: calc(100% - 27px);
                    background: rgb(238, 238, 238);
                    top: -8px;
                    left: 15px;
                }
            }
        }
        .item-right {
            padding-left: 15px;
            .heading {
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
            }
            .heading__sub {
                width: calc(100% - 100px);
            }
            .heading__est-time {
                color: rgb(38, 188, 78);
                font-weight: 500;
                font-size: 14px;
                display: block;
            }
            .heading__fulfil {
                color: rgb(120, 120, 120);
                font-size: 13px;
                width: 100%;
                display: -webkit-box;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                margin-top: 8px;
            }
        }
        .item-left,
        .item-right {
            width: 50%;
        }
    }
    .bPbcZg {
        &:last-child {
            margin: 0px;
        }
        .shipping-fee {
            color: rgb(36, 36, 36);
            font-size: 13px;
            margin-left: 8px;
            display: inline-block;
        }
        .method-inner {
            background: rgb(250, 250, 250);
            padding: 10px 17px;
            border-radius: 4px;
            max-width: 480px;
            margin-bottom: 25px;
        }
        .label {
            padding: 10px 0px;
        }
        .label-no-shippments .method-name {
            font-size: 13px;
            color: rgb(36, 36, 36);
            font-weight: 400;
        }
    }
    .HafWE {
        display: block;
        margin-right: 15px;
        input[type="radio"] {
            position: absolute;
            height: 1px;
            width: 1px;
            visibility: hidden;
            clip: rect(0px, 0px, 0px, 0px);
            opacity: 0;
        }
        input[type="radio"]:checked + .radio-fake {
            border-color: rgb(13, 92, 182);
        }
        input[type="radio"]:checked + .radio-fake::before {
            transform: scale(1);
        }
        .label {
            font-size: 13px;
            line-height: 20px;
            display: inline-block;
            vertical-align: middle;
            max-width: 80%;
        }
        .radio-fake {
            width: 22px;
            height: 22px;
            border: 1px solid rgb(120, 120, 120);
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin: 10px 13px 10px 0px;
            position: relative;
            z-index: 1;
            color: rgb(120, 120, 120);
            &::before {
                content: "";
                position: absolute;
                left: 5px;
                top: 5px;
                width: 10px;
                height: 10px;
                background-color: rgb(13, 92, 182);
                border-radius: 50%;
                transform: scale(0);
                transition: transform 0.3s ease 0s;
            }
        }
    }
    .kERewZ {
        margin-top: 15px;
        .sponsor__title {
            display: flex;
            flex-wrap: nowrap;
            -webkit-box-pack: justify;
            justify-content: space-between;
            .title__name {
                display: flex;
                width: 100%;
                -webkit-box-pack: justify;
                justify-content: space-between;
                span {
                    font-size: 14px;
                }
            }
            .method-name {
                color: rgb(120, 120, 120);
            }
        }
    }
    .evLkj {
        width: 320px;
        padding: 30px 15px 0px;
    }
    .gDuXAE {
        padding: 10px 15px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(221, 221, 221);
        color: rgb(51, 51, 51);
        border-radius: 3px;
        margin-top: 15px;
        .title {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            border-bottom: 1px solid rgb(201, 201, 201);
            padding-bottom: 10px;
            font-size: 13px;
            line-height: 31px;
            a {
                border: 1px solid rgb(204, 204, 204);
                font-size: 12px;
                padding-left: 14px;
                padding-right: 14px;
                height: 31px;
                outline-color: rgb(204, 204, 204);
                background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
                border-radius: 2px;
                text-decoration: none;
                color: rgb(51, 51, 51);
            }
        }
        .address {
            .name {
                font-size: 15px;
                font-weight: 700;
                margin-top: 15px;
                margin-bottom: 10px;
            }
            span {
                display: block;
                font-size: 13px;
            }
            .street,
            .phone {
                padding: 2px 0px;
            }
        }
    }
    .cpnhS {
        padding: 10px 15px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(221, 221, 221);
        border-radius: 3px;
        color: rgb(51, 51, 51);
        margin-top: 15px;
        .title {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            border-bottom: 1px solid rgb(201, 201, 201);
            padding-bottom: 10px;
            font-size: 13px;
            line-height: 31px;
            .sub-title {
                width: calc(100% - 55px);
                line-height: normal;
                b {
                    font-size: 14px;
                    display: block;
                    margin-bottom: 5px;
                }
                p {
                    margin: 0px;
                    color: rgb(120, 120, 120);
                }
                .action--active::after {
                    transform: rotate(180deg) translateY(-50%);
                }
                .action {
                    color: rgb(13, 92, 182);
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        right: -15px;
                        top: 5px;
                        transition-duration: 0.3s;
                        width: 0px;
                        height: 0px;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 4px solid rgb(13, 92, 182);
                    }
                }
            }
            a {
                border: 1px solid rgb(204, 204, 204);
                font-size: 12px;
                padding-left: 14px;
                padding-right: 14px;
                height: 31px;
                outline-color: rgb(204, 204, 204);
                background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
                border-radius: 2px;
                text-decoration: none;
                color: rgb(51, 51, 51);
            }
        }
        .cart {
            font-size: 12px;
            .product {
                margin-bottom: 15px;
                overflow-y: hidden;
                transition: max-height 0.3s ease-in-out 0s;
                max-height: 0px;
            }
            .product--show {
                max-height: 500px;
            }
            .price-summary .total {
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                border-top: 2px solid rgb(201, 201, 201);
                padding-top: 12px;
                margin-bottom: 0px;
                line-height: 19px;
                font-weight: 700;
                .value {
                    color: rgb(238, 35, 71);
                    font-size: 19px;
                    font-weight: 400;
                    text-align: right;
                    i {
                        display: block;
                        font-size: 12px;
                        color: rgb(51, 51, 51);
                    }
                }
            }
        }
    }
    .kEZgWN {
        padding: 12px 0px;
        border-bottom: 1px solid rgb(201, 201, 201);
        font-size: 11px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        .info {
            flex: 2 1 0%;
            .qty {
                padding-right: 10px;
                display: inline-block;
            }
            .product-name {
                color: rgb(13, 92, 182);
                text-decoration: none;
                display: -webkit-inline-box;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                vertical-align: top;
                width: calc(100% - 30px);
            }
            .seller-name {
                display: block;
                margin-top: 10px;
            }
        }
        .price {
            flex: 1 1 0%;
            text-align: right;
        }
    }
    .cJLeJx {
        margin-bottom: 13px;
        position: relative;
        .inner {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }
    }
    .dnENUJ {
        background: rgb(255, 255, 255);
        color: rgb(51, 51, 51);
        padding: 15px 25px 10px 15px;
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid rgb(221, 221, 221);
        .list {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
    }
    .dWHFNX {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .fbjKoD {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 56px;
        .method-icon {
            margin-right: 12px;
        }
        .method-content {
            margin-right: 12px;
        }
        .method-content__name {
            font-size: 14px;
            line-height: 1.43;
            color: rgb(36, 36, 36);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            span {
                margin-right: 12px;
            }
        }
    }
    .fIiFCb {
        margin-top: 15px;
        max-width: 100%;
        .message {
            color: rgb(36, 36, 36);
            font-size: 14px;
            line-height: 10px;
            display: block;
            margin: 0px 0px 15px;
        }
        .item {
            background: rgb(255, 255, 255);
            border: 1px solid rgb(224, 224, 224);
            border-radius: 8px;
            padding: 17px 14px;
            margin: 0px 0px 10px;
            position: relative;
            display: flex;
        }
    }
}
